$whiteKey-bg: white;
$whiteKey-border: #444;
$active-font-color: #E67E22;
$piano-control-panel-color: #F2F1EE;

$key-height: 250px;
$white-key-width:  80px;
$black-key-width:  30px;

.piano {
  background-image: url('../images/piano-bg.png');
}

.piano-control-panel {
   padding: 20px 50px;
}

@keyframes  moving-text  {
    0%  {
      left: 0;
    }
    50%{
      left: 35%;
    }
    100% {
      left: 0;
    }
}

.piano-control-panel-screen {
   background-color: $piano-control-panel-color;
   border-radius: 5px;
   height: 50px;
   position: relative;

   span{
     position: absolute;
     font-size: 1.2rem;
     color: #491904;
     padding-left: 15px;
     top: 18px;
     text-shadow: 0.5px 0.5px 0 #491904;
     animation: moving-text 5s ease-out infinite;
   }
}

.piano-control-panel .btn {
  margin-left: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: $piano-control-panel-color;
}

.btn-play {
  border: 1px solid $piano-control-panel-color;
}
.piano-control-panel .btn:hover {
  color: white;
}

ul.keyboard {
  list-style: none;
  padding-left: 20px;
  margin: 0 30px;

  li {
    display: inline-block;
    height:$key-height;
    line-height: 450px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  li.active {
    -moz-box-shadow:    inset 0 0 15px #444;
    -webkit-box-shadow: inset 0 0 15px #444;
    box-shadow:         inset 0 0 15px #444;
    height: 249px;
    line-height: 443px;

    span {
      font-size: 20pt;
      font-weight: 800;
      color: $active-font-color;
    }
  }

  .whiteKey {
    width: 7%;
    background: white;
    border: 1px solid #444;
    text-align: center;

    span {
      font-size: 10pt;
      -webkit-transition: fonts 0.3s ease;
      -moz-transition: fonts 0.3s ease;
      -ms-transition: fonts 0.3s ease;
    }
  }

  .blackKey {
    background: black;
    border: 1px solid #444;
    position: absolute;
    width: $black-key-width;
    height: $key-height/2;
    margin-left: -$black-key-width/2;
    background: black;
    border: 1px solid #444;
  }


}
