$whiteKey-bg: white;
$whiteKey-border: #444;
$active-font-color: #E67E22;
$piano-control-panel-color: #F2F1EE;

$key-height: 250px;
$white-key-width:  8.33%;
$black-key-width:  30px;


$music-note-line-height: 15px;

.piano {
  background-image: url('../images/piano-bg.png');
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/**
Styles of piano-control-panel
**/
.piano-control-panel {
   padding: 30px 50px;
}

@keyframes moving-text {
 0%   {
     transform: translateX(0);
 }
 50% {
     transform: translateX(50%);
 }
 100% {
     transform: translateX(0);
 }
}

.piano-control-panel-screen {
   background-color: $piano-control-panel-color;
   border-radius: 5px;
   height: 50px;
   position: relative;
   overflow: hidden;

   span{
     position: absolute;
     font-size: 1.5rem;
     font-style: italic;
     font-weight: bold;
     color: $active-font-color;
     padding-left: 15px;
     top: 18px;
     width: 100%;
     height: 100%;
     text-align: left;
     transform:translateX(0);
     animation: moving-text 10s linear infinite;
   }
}

.piano-control-panel .btn {
  margin-left: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: $piano-control-panel-color;
  padding: 5px 15px;
  font-size: 18px;
}

.piano-control-panel .btn-play {
  border: 1px solid $piano-control-panel-color;
}
.piano-control-panel .btn:hover {
  color: white;
}


/**
Styles of keyboard
**/
ul.keyboard {
  list-style: none;
  padding-left: 0px;
  margin: 0 50px;

  li {
    display: inline-block;
    height: $key-height;
    line-height: 450px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .whiteKey.active {
    -moz-box-shadow:    inset 0 0 15px #444;
    -webkit-box-shadow: inset 0 0 15px #444;
    box-shadow:         inset 0 0 15px #444;
    height: 249px;
    line-height: 443px;

    span {
      font-size: 1.4em;
      font-weight: 800;
      color: $active-font-color;
    }
  }

  .whiteKey {
    width: $white-key-width;
    background: white;
    border: 1px solid $whiteKey-border;
    text-align: center;

    span {
      font-size: 10pt;
      -webkit-transition: fonts 0.3s ease;
      -moz-transition: fonts 0.3s ease;
      -ms-transition: fonts 0.3s ease;
    }
  }

  .blackKey {
    background: black;
    border: 1px solid #444;
    position: absolute;
    width: $black-key-width;
    height: $key-height/2;
    margin-left: -$black-key-width/2;
  }

  .blackKey.active {
    -moz-box-shadow:    inset 0 0 8px $piano-control-panel-color;
    -webkit-box-shadow: inset 0 0 8px $piano-control-panel-color;
    box-shadow:         inset 0 0 8px $piano-control-panel-color;
  }
}

/**
Styles of music-notes
**/
.music-notes {
  position: relative;
  margin: 30px 0;
}
ul.music-notes-lines {
  list-style: none;
  margin: 0 50px;
  padding-left: 0;
  li {
    height: 15px;
    border-top: 1px solid $whiteKey-border;
  }
}

ul.music-notes-notes {
  list-style: none;
  position:absolute;
  left: 10px;
  margin: 0 30px;
  padding-left: 40px;
  right: 0;
  bottom: 0;
  top: 0;

  li.whiteKey  {
    display: block;
    float: left;
    text-align: center;
    border: 1px solid transparent;
    width: $white-key-width;
    height: 100%;
    margin: 0 auto;
  }

  li.blackKey {
    display: block;
    float: left;
  }

  li.active {
    img{
      width: 25px;
      fill: #CC5533;
    }
  }


  //svg {width: 100%; height: auto;}

  .C4 {
    margin-top: $music-note-line-height*2.5;
  }

  .D4 {
    margin-top: $music-note-line-height*2;
  }

  .E4 {
    margin-top: $music-note-line-height*1.5;
  }

  .F4 {
    margin-top: $music-note-line-height;
  }

  .G4 {
    margin-top: $music-note-line-height/2;
  }

  .A4 {
    margin-top: 0;
  }

  .B4 {
    margin-top: -$music-note-line-height/2;
  }

  .C5 {
    margin-top: $music-note-line-height;
  }

  .D5 {
    margin-top: $music-note-line-height/2;
  }

  .E5 {
    margin-top: 0;
  }

  .F5 {
    margin-top: -$music-note-line-height/2;
  }

  .G5 {
    margin-top: -$music-note-line-height;
  }
}

//Ipad
@media (max-width: 921px) {
  .piano-control-panel-actions {
    text-align: center;
  }
}

@media (max-width: 767px) {
    h3 {
      font-size: 16px;
    }

    .navbar {
      background-color: transparent;
      border: none;
      margin-top: -70px;
    }

    .navbar-brand {
      display: none;
    }

    .piano-control-panel-screen {
      height: 30px;
      border-radius: 0;

      span {
        font-size: 9pt;
        top: 5px;
      }
    }

    .piano-control-panel {
      padding: 0 0 5px 0;

      .btn-play, .btn-step {
        padding: 2px 4px;
        font-size: 12px;
      }
    }
    ul.keyboard {
      margin: 0;

      li {
        height: 120px;
        line-height: 200px;
      }

      .blackKey {
        width: 10px !important;
        margin-left: -5px !important;
        height: 50px;
      }

      .whiteKey.active {
        height: 119px;
        line-height: 196px;
      }
    }
    .music-notes {
      display: none;
      .music-notes-lines {
        margin: 0;
      }
      .music-notes-notes {
        padding: 0;
        margin: 0;
        left: 0;
      }
    }

}